.some-page-wrapper{
  width: 90%;
  margin-left: 150px;
}

.eventPage{
  margin-left: -380px;
}

.card{
  opacity: .8;
  background-color: grey;
  color: black;
}

.top{
  height: 365px;
}

hr{
  width: 500px;
}

.head{
  margin-top: -40px;
  font-size: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.tile{
  margin-top: -15px;
}

.eventPage{
  text-align: center;
  padding-top: 30px;
  margin-bottom: -30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button{
  width:300px;
}

