.EventBtn {
  width: 50% !important;
  font-size: 150% !important;
  color: black !important;
}

.aew {
  margin-bottom: 1% !important;
  width: 16% !important;
  display: inline-table !important;
}
Button {
  width: 70% !important;
}