* {
  box-sizing: border-box;
}

.App{
  background-repeat: no-repeat;
  background-size: cover;
}

.asew{
  background-repeat: no-repeat;
  background-size: cover;
}

hr{
  height:3px;
  border-width:0;
  color:gray;
  background-color:gray
}

h1{
  color:white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h5{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page-section{
  padding-top: 30px;
}

.video{
  max-width: 575px;
  margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.pone {
  padding-top: 3% !important;
  margin-bottom: 3% !important;
  margin-top: 4% !important;
  position: center !important;
  display: table !important;
}

.card-body {
  padding-top: 3% !important;
  margin-bottom: 3% !important;
  margin-top: 4% !important;
  position: center !important;
  display: table !important;
}
.text-center {
  padding-top: 3% !important;
  margin-bottom: 3% !important;
  margin-top: 4% !important;
  position:center !important;
  display:block !important;
}
.mme {
  width: 100% !important;
  height: 100% !important;
  display: table;
}

.button{
  width:300px;
  background-color: blue;
  border: none;
  color: white;
  padding-top:5px;
  padding-bottom: 5px;
  border-radius: 10px;
}
